<div class="container" id="container">

    <div class="row">

        <div class="col-md-6  col-md-offset-2">
            <h1 class="btn_media display-2" style="margin:0px;"><a class="nav-link" href="/" style="margin:0px;padding:0px;color:black;">Chi-Jui Wu</a></h1>
        </div>

        <div class="col-md-2">
        <div class="list-group">
            <h4 class="btn_media text-right" style="margin:0px;"><a href="/research" title="research" class="font-weight-bold" {% if page.url != "/research/" %}style="color:black;"{% endif %}>Research</a></h4>

            <h4 class="btn_media text-right" style="margin:0px;"><a href="/cv/CJW-CV.pdf" target="_blank" title="CV" class="font-weight-bold" style="color:black;">CV</a></h4>

            <h4 class="btn_media text-right" style="margin:0px;"><a href="https://medium.com/@chijuiwu" target="_blank" title="blog" class="font-weight-bold" style="color:black;">Blog</a></h4>
        </div>
        </div>
    </div>
    
    <div class=row>
            <div class="col-md-8 col-md-offset-2">
                <hr class="divider">
                <p class="vspace"><br></p>
            </div>
        </div>

</div>
