<div class="container" id="container">

    <div class="row">

        <div class="col-md-6  col-md-offset-2">
            <h1 class="btn_media display-2" style="margin:0px;"><a class="nav-link" href="/" style="margin:0px;padding:0px;color:black;">Chi-Jui Wu</a></h1>
        </div>

        <div class="col-md-2">
        </div>
    </div>
    
    <div class=row>
            <div class="col-md-8 col-md-offset-2">
                <hr class="divider">
                <p class="vspace"><br></p>
            </div>
        </div>

</div>
