<div class="container" id="container">
<div class="row">
    <div class="col-md-6">
        <a class="nav-link" href="/" style="margin:0px;padding:0px;"><h1 class="display-2 font-weight-bold" style="margin:0px;color:black;">Chi-Jui Wu</h1></a>
    </div>

    <div class="col-md-6">
    <div class="list-group">
        <h4 class="text-right" style="margin:0px;"><a href="/research" title="research" class="font-weight-bold" {% if page.url != "/research/" %}style="color:black;"{% endif %}>Research</a></h4>
        <h4 class="text-right" style="margin:0px;"><a href="/cv/CJW-CV.pdf" title="CV" target="_blank" class="font-weight-bold" style="color:black;">Curriculum Vitae</a></h4>
        <h4 class="text-right" style="margin:0px;"><a href="https://medium.com/@chijuiwu"  title="Blog" target="_blank" class="font-weight-bold" style="color:black;">Blog</a></h4>
    </div>
    </div>
</div><hr class="divider">
</div>
