<div class="container">

    <div id="about" class="row" style="font-family:Verdana;font-size:11px;">
        <div class="col-md-8 col-md-offset-2">
            <img class="avatar" src="/assets/chijuiwu-3.jpg">
            
            <p class="text-justify">Human-Computer Interaction (HCI) researcher in Taiwan. I am interested in human-centered computing, humanistic psychology, and education. My background is in computer science and machine learning (from St Andrews and UCL respectively), and my research experience includes cross-device interaction, proxemic interaction, and accessibility. I am currently learning about finance in my spare time. I was a HCI PhD student at Lancaster University and an English teaching assistant at Hualien Wanrong Junior High School.</p>
        </div>
    </div>

    <div id="recent" class="row" style="margin-top:20px; font-family:Verdana;font-size:11px;">
        <div class="col-md-8 col-md-offset-2">
            <p>
                <a style="color:lightslategray;" href="https://scholar.google.com/citations?user=EBXkRfoAAAAJ&hl=en" title="Google Scholar" aria-label="Google Scholar" target="_blank"><i class="btn_media ai ai-google-scholar-square ai-3x" aria-hidden></i></a>
    
                <a style="color:lightslategray;" href="https://github.com/chijuiwu" title="GitHub" aria-label="GitHub" target="_blank"><i class="btn_media fab fa-github-square fa-3x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://medium.com/@chijuiwu" title="Medium" aria-label="Medium" target="_blank"><i class="btn_media fab fa-medium fa-3x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://twitter.com/chijuiwu" title="Twitter" aria-label="Twitter" target="_blank"><i class="btn_media fab fa-twitter-square fa-3x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://www.linkedin.com/in/chijuiwu/" title="LinkedIn" aria-label="LinkedIn" target="_blank"><i class="btn_media fab fa-linkedin fa-3x" aria-hidden></i></a>
                
                <a style="color:lightslategray;" href="mailto:home@chijuiwu.space" title="Email" aria-label="Email" target="_blank"><i class="btn_media fas fa-envelope-square fa-3x" aria-hidden></i></a>
            </p>
        </div>
    </div>

    <div id="recent" class="row" style="margin-top:50px; font-family:Verdana;font-size:11px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">11 / 2018</span> &nbsp;發表文章 <a href="https://medium.com/@chijuiwu/self-actualizing-and-humanistic-technology-e67767d6dea6" title="Blog" target="_blank">自我實現與人文科技</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">08 / 2018</span> &nbsp;Withdrawal from my PhD study.
            </div>
            
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">04 / 2018</span> &nbsp;Published blog post <a href="https://medium.com/@chijuiwu/life-and-hci-phd-lancaster-3-months-reflection-657a60a57801" title="Blog" target="_blank">Life and HCI PhD at Lancaster</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">01 / 2018</span> &nbsp;Started my PhD at Interactive Systems, Lancaster University.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">12 / 2017</span> &nbsp;發表文章 <a href="https://medium.com/@chijuiwu/%E8%8B%B1%E5%B0%88%E6%9B%BF%E4%BB%A3%E5%BD%B9%E6%84%9F%E6%83%B3-98e0eb6316ae" title="Blog" target="_blank">英專替代役感想</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Published blog post <a href="https://medium.com/@chijuiwu/my-journey-to-chi-2017-e420dedc2cf5" title="Blog" target="_blank">My Journey to CHI 2017</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Accepted the PhD position and fellowship from Lancaster University.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Presented <a href="https://dl.acm.org/citation.cfm?id=3025562" title="Blog" target="_blank">EagleSense</a> at CHI'17.
            </div>
            
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">12 / 2016</span> &nbsp;Published full paper <a href="https://dl.acm.org/citation.cfm?id=3025562" title="Blog" target="_blank">EagleSense</a> in CHI'17.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">11 / 2016</span> &nbsp;Published full paper <a href="https://link.springer.com/article/10.1007/s00779-016-0997-6" title="Blog" target="_blank">Out of Sight</a> in PUC.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">11 / 2016</span> &nbsp;Received my MRes from University College London (Distinction).
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">08 / 2016</span> &nbsp;Received the ACM SIGCHI Student Travel Grant to ISS'16.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">06 / 2015</span> &nbsp;Received my BSc from University of St Andrews (First-Class Honours).
            </div>
        </div>
    </div>


    <!-- <h1 class="display-4">Ribbons</h1>
    <table class="table" style="font-family:Verdana;font-size:11px;">
        <tbody>
        <tr>
            <td style="width:15%">
                <img src="/research/ribbons/chi17.jpg" alt="chi17" title="chi17" class="center-block img-responsive">
                <p class="text-center">CHI'17</p>
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
        </tr>
        </tbody>
    </table> -->

</div>