<div class="container">

    <div id="about" class="row" style="font-family:Verdana;font-size:11px;">
        <div class="col-md-8 col-md-offset-2">

            <img class="avatar" src="/assets/chijuiwu-2.png">

            <p class="text-justify">I am a Human-Computer Interaction (HCI) researcher interested in human-centered computing, humanistic psychology, and education. My research experience includes cross-device interaction, proxemic interaction, and accessibility. I was a HCI PhD student in the Interactive Systems group at Lancaster University, under the supervision of Dr. <a class="text-primary" href="http://www.stevenhouben.be/" title="Steven Houben website" target="_blank">Steven Houben</a>. Previously, I built sensor-based interactive systems with Dr. <a class="text-primary" href="http://www.nicolaimarquardt.com/" title="Nicolai Marquardt website" target="_blank">Nicolai Marquardt</a> at University College London Interaction Centre (UCLIC) and Dr. <a class="text-primary" href="https://sachi.cs.st-andrews.ac.uk/people/faculty/david-harris-birtill/" title="David Harris-Birtill website" target="_blank">David Harris-Birtill</a> at St Andrews HCI Research Group (SACHI).
            </p>

            <p>
                <a style="color:lightslategray;" href="https://scholar.google.com/citations?user=EBXkRfoAAAAJ&hl=en" title="Google Scholar" aria-label="Google Scholar" target="_blank"><i class="ai ai-google-scholar-square ai-2x" aria-hidden></i></a>

                <a style="color:lightslategray;" href="https://github.com/chijuiwu" title="GitHub" aria-label="GitHub" target="_blank"><i class="fab fa-github-square fa-2x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://medium.com/@chijuiwu" title="Medium" aria-label="Medium" target="_blank"><i class="fab fa-medium fa-2x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://twitter.com/chijuiwu" title="Twitter" aria-label="Twitter" target="_blank"><i class="fab fa-twitter-square fa-2x" aria-hidden></i></a> 
                
                <a style="color:lightslategray;" href="https://www.linkedin.com/in/chijuiwu/" title="LinkedIn" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin fa-2x" aria-hidden></i></a>
                
                <a style="color:lightslategray;" href="mailto:home@chijuiwu.space" title="Email" aria-label="Email" target="_blank"><i class="fas fa-envelope-square fa-2x" aria-hidden></i></a>
            </p>

        </div>
    </div>

    <div id="recent" class="row" style="margin-top:70px; font-family:Verdana;font-size:11px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">08 / 2018</span> &nbsp;Withdrawal from my PhD study.
            </div>
            
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">04 / 2018</span> &nbsp;Published a blog post <a href="https://medium.com/@chijuiwu/life-and-hci-phd-lancaster-3-months-reflection-657a60a57801" title="Blog" target="_blank">Life and HCI PhD at Lancaster</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">01 / 2018</span> &nbsp;Started my PhD at Interactive Systems, Lancaster University.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">12 / 2017</span> &nbsp;Published a blog post <a href="https://medium.com/@chijuiwu/%E8%8B%B1%E5%B0%88%E6%9B%BF%E4%BB%A3%E5%BD%B9%E6%84%9F%E6%83%B3-98e0eb6316ae" title="Blog" target="_blank">English teaching experience in Taiwan</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Published a blog post <a href="https://medium.com/@chijuiwu/my-journey-to-chi-2017-e420dedc2cf5" title="Blog" target="_blank">My Journey to CHI 2017</a>.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Accepted the PhD position and fellowship from Lancaster University.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">05 / 2017</span> &nbsp;Presented <a href="https://dl.acm.org/citation.cfm?id=3025562" title="Blog" target="_blank">EagleSense</a> at CHI'17.
            </div>
            
            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">12 / 2016</span> &nbsp;Full paper <a href="https://dl.acm.org/citation.cfm?id=3025562" title="Blog" target="_blank">EagleSense</a> accepted to CHI'17.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">11 / 2016</span> &nbsp;Full paper <a href="https://link.springer.com/article/10.1007/s00779-016-0997-6" title="Blog" target="_blank">Out of Sight</a> accepted to PUC.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">11 / 2016</span> &nbsp;Received a MRes from University College London (Distinction).
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">08 / 2016</span> &nbsp;Received the ACM SIGCHI Student Travel Grant to ISS'16.
            </div>

            <div class="bs-component" style="margin-bottom:3px;">
                <span class="badge badge-light">06 / 2015</span> &nbsp;Received a BSc from University of St Andrews (First-Class).
            </div>
        </div>
    </div>


    <!-- <h1 class="display-4">Ribbons</h1>
    <table class="table" style="font-family:Verdana;font-size:11px;">
        <tbody>
        <tr>
            <td style="width:15%">
                <img src="/research/ribbons/chi17.jpg" alt="chi17" title="chi17" class="center-block img-responsive">
                <p class="text-center">CHI'17</p>
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
        </tr>
        </tbody>
    </table> -->

</div>