<div class="container">

    <div class="row">
        <div class="col-md-12">
        <p class="lead">New blog post! <a href="https://medium.com/@chijuiwu/my-journey-to-chi-2017-e420dedc2cf5" target="_blank" class="text-warning">My Journey to CHI 2017</a>.</p>
        </div>
    </div>

    <p class="vspace"><br></p>

    <div id="about" class="row" style="font-family:Verdana;font-size:11px;">

        <div class="col-md-12">
            <img class="avatar" src="/assets/chijuiwu.png">
        </div>

        <div class="col-md-6">
            <p class="text-justify">I'm an English teaching assistant in Hualien, Taiwan. I will begin my Human-Computer Interaction (HCI) PhD on Cross-Device Interaction at Interactive Systems Research Group, Lancaster University, in January, 2018. I have worked closely with Dr. <a class="text-primary" href="https://sachi.cs.st-andrews.ac.uk/people/faculty/david-harris-birtill/">David Harris-Birtill</a> at St Andrews Computer-Human Interaction Research Group (SACHI), Dr. <a class="text-primary" href="http://www.nicolaimarquardt.com/">Nicolai Marquardt</a> and Dr. <a class="text-primary" href="http://www.stevenhouben.be/">Steven Houben</a> at University College London Interaction Centre (UCLIC). My background is in Computer Science, and my current research interests include sensing technologies, ubiquitous computing, and proxemic interaction. I build novel supporting infrastructures and techniques for ad hoc cross-device interaction.

            <p>
                <a href="https://medium.com/@chijuiwu" title="Medium" target="_blank"><i class="fa fa-medium fa-lg" aria-hidden="true"></i></a> | 
                <a href="https://twitter.com/chijuiwu" title="Twitter" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a> | 
                <a href="mailto:chijui@chijuiwu.space" title="Email" target="_blank"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
            </p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5" style="font-family:Verdana;font-size:11px;">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-warning">05 / 2017</span> &nbsp;
                    <span>Published blog post <u>My Journey to CHI 2017</u>.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">05 / 2017</span> &nbsp;
                    <span>Accepted PhD position and fellowship from Lancaster University.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">05 / 2017</span> &nbsp;
                    <span>Presented <u>EagleSense</u> at CHI'17.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">12 / 2016</span> &nbsp;
                    <span>Full paper <u>EagleSense</u> accepted to CHI'17.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">11 / 2016</span> &nbsp;
                    <span>Full paper <u>Out of Sight</u> accepted to PUC.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">11 / 2016</span> &nbsp;
                    <span>Received MRes from University College London (Distinction).</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">08 / 2016</span> &nbsp;
                    <span>Received ACM SIGCHI Student Travel Grant to ISS'16.</span>
                </li>
                <li class="list-group-item">
                    <span class="label label-warning">06 / 2015</span> &nbsp;
                    <span>Received BSc from University of St Andrews (First-Class).</span>
                </li>
            </ul>
        </div>

    </div>

    <p class="vspace"><br></p>

    <h1 class="display-4">Ribbons</h1>
    
    <table class="table" style="font-family:Verdana;font-size:11px;">
        <tbody>
        <tr>
            <td style="width:10%">
                <img src="/research/ribbons/chi17.jpg" alt="chi17" title="chi17" class="center-block img-responsive">
                <p class="text-center">CHI'17</p>
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
        </tr>
        </tbody>
    </table>

</div>