{% assign p = include.project_dir.notes.problem %}
{% assign rw = include.project_dir.notes.rw %}

<div class="container">
    <h2 class="display-2">{{ include.project }}</h2>
    
    <h3><span class="label label-info"><u>Goal</u></span></h3>
    <p>
    {% for pt in p["Goal"] %}
        - {{ pt }} <br/>
    {% endfor %}
    </p>

    <h3><span class="label label-danger"><u>Problem</u></span></h3>
    <p>
    {% for pt in p["Problem"] %}
        - {{ pt }} <br/>
    {% endfor %}
    </p>

    <h3><span class="label label-warning"><u>Research Questions</u></span></h3>
    <p>
    {% for pt in p["Research Questions"] %}
        - {{ pt }} <br/>
    {% endfor %}
    </p>
    
    <h3><span class="label label-success"><u>Contributions</u></span></h3>
    <p>
    {% for pt in p["Contributions"] %}
        - {{ pt }} <br/>
    {% endfor %}
    </p>

    <h3><span class="label label-primary"><u>Related Work</u></span></h3>
    <p>
    {% for section in rw %}
        - <a href="#{{ section[0] | upcase }}">{{ section[0]}}</a> <br/>
    {% endfor %}
    </p>

    <p class="vspace"><br></p>
</div>

<div class="container-fluid">

    {% for section in rw %}
        <h1 class="display-4" id="{{ section[0] | upcase }}">{{ section[0] | upcase }}</h1>
        
        {% for work in section[1] %}
            <table class="table table-bordered " style="font-size:14px; font-family:Helvetica; color:black;">
            <thead class="thead-inverse">
            <tr>
                <th colspan="2" class="col-md-8">
                    <h3 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>{{ work["Name"] | upcase }}</strong></h3>
                    {% if work["Papers"] %}
                    {% assign n_papers = work["Papers"] | size | minus: 1 %}
                    <p>
                        {% for i in (0..n_papers) %}
                             {% if work["Papers"][i]["Link"] %}<a href='{{ work["Papers"][i]["Link"] }}' target="_blank">{{ work["Papers"][i]["Title"] }}</a>{% endif %} | {{ work["Papers"][i]["Authors"] }}
                            {% if i < n_papers %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td colspan="2">
                    <div class="row">
                    {% for fig in work["Figures"] %}
                        <div class="col-md-3">
                            <img src="{{ '/research/reconfigurable-interactive-spaces/figures/' | append: fig }}" class="center-block img-responsive">
                        </div>
                    {% endfor %}
                    </div>
                </td>
            </tr>

            <tr class="thead-inverse">
                <th class="col-md-8"><h5 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>OVERVIEW</strong></h4></th>
                <th class="col-md-4"><h5 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>WHAT'S GOOD AND BAD? WHAT'S NEXT?</strong></h4></th>
            </tr>

            <tr>
                <td>
                    {% for subsection in work %}
                        {% assign subsection_name = subsection[0] %}
                        {% if subsection_name == "Name" or subsection_name == "Papers" or subsection_name == "Figures" or subsection_name == "So What" %}
                        {% continue %}
                        {% endif %}

                        {% if subsection_name != "Grand Challenges" %}
                            {% if subsection_name != "Overview" %}
                                <p><strong><u>{{ subsection_name | upcase }}</u></strong><br/>
                            {% endif %}
                            {% assign n_points = work[subsection_name] | size | minus: 1 %}
                            {% for i in (0..n_points) %}
                                - {{ work[subsection_name][i] }}
                                {% if i < n_points %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                            <br/><br/></p>
                        {% else %}
                            <p><strong><u>GRAND CHALLENGES</u></strong><br/>
                            {% assign challenges = work[subsection_name] %}
                            {% for challenge in challenges %}
                                <u>{{ challenge[0] }}</u>
                                {% assign n_notes = challenge[1] | size | minus: 1 %}
                                {% for j in (0..n_notes) %}
                                    <br/>- {{ challenge[1][j] }}
                                {% endfor %}
                                <br/><br/>
                            {% endfor %}
                            </p>
                        {% endif %}
                        <hr class="divider">
                    {% endfor %}
                </td>
                
                <td>
                    {% if work["So What"] %}
                    <p>
                    {% assign n_sowhat = work["So What"] | size | minus: 1 %}
                    {% for i in (0..n_sowhat) %}
                        - {{ work["So What"][i] }}
                        {% if i < n_sowhat %}
                            <br/><br/>
                        {% endif %}
                    {% endfor %}</p>
                    {% endif %}
                </td>
            </tr>

            </tbody>
            </table>
        {% endfor %}
                     
        <hr style="margin-top:50px;margin-bottom:50px;">   
        
    {% endfor %}

</div>