<div class="container">
    <h1 class="display-2">{{ include.project }}</h1>
    
    <p class="vspace"><br></p>
</div>

<div class="container-fluid">
    {% assign rw = include.project_dir.notes.rw %}

    {% for section in rw %}
        <h1 class="display-4">{{ section[0] | upcase }}</h1>
        
        {% for work in section[1] %}
            <table class="table table-bordered " style="font-size:14px; font-family:Helvetica; color:black;">
            <thead class="thead-inverse">
            <tr>
                <th colspan="2" class="col-md-8">
                    <h3 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>{{ work["Name"] | upcase }}</strong></h3>
                    {% if work["Papers"] %}
                    {% assign n_papers = work["Papers"] | size | minus: 1 %}
                    <p>
                        {% for i in (0..n_papers) %}
                             {% if work["Papers"][i]["Link"] %}<a href='{{ work["Papers"][i]["Link"] }}' target="_blank">{{ work["Papers"][i]["Title"] }}</a>{% endif %} | {{ work["Papers"][i]["Authors"] }}
                            {% if i < n_papers %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td colspan="2">
                    {% for fig in work["Figures"] %}
                        <img class="col-md-3" src="{{ '/research/reconfigurable-interactive-spaces/figures/' | append: fig }}" class="center-block img-responsive" style="margin-top:10px; margin-bottom:10px;">
                    {% endfor %}
                </td>
            </tr>

            <tr class="thead-inverse">
                <th class="col-md-7"><h5 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>What's new?</strong></h4></th>
                <th class="col-md-5"><h5 style="font-family:Helvetica;margin-top:5px;margin-bottom:5px;"><strong>What's good and bad? What's next?</strong></h4></th>
            </tr>

            <tr>
                <td>
                    {% if work["Overview"] %}
                    <p><strong><u>Overview</u></strong><br/>
                    {% assign n_overviews = work["Overview"] | size | minus: 1 %}
                    {% for i in (0..n_overviews) %}
                        - {{ work["Overview"][i] }}
                        {% if i < n_overviews %}
                            <br/>
                        {% endif %}
                    {% endfor %}
                    <br/><br/></p>
                    {% endif %}

                    {% if work["Applications and Scenarios"] %}
                    <p><strong><u>Applications and Scenarios</u></strong><br/>
                    {% assign n_applications = work["Applications and Scenarios"] | size | minus: 1 %}
                    {% for i in (0..n_applications) %}
                        - {{ work["Applications and Scenarios"][i] }}
                        {% if i < n_applications %}
                            <br/>
                        {% endif %}
                    {% endfor %}
                    <br/><br/></p>
                    {% endif %}

                    {% if work["Key Challenges"] %}
                    <p><strong><u>Key Challenges</u></strong><br/>
                    {% assign n_challenges = work["Key Challenges"] | size | minus: 1 %}
                    {% for i in (0..n_challenges) %}
                        {{ work["Key Challenges"][i]["Title"] }}
                        
                        {% assign n_notes = work["Key Challenges"][i]["Notes"] | size | minus: 1 %}
                        {% for j in (0..n_notes) %}
                        <br/>- {{ work["Key Challenges"][i]["Notes"][j] }}
                        {% endfor %}
                        
                        {% if i < n_challenges %}
                            <br/><br/>
                        {% endif %}
                    {% endfor %}
                    </p>
                    {% endif %}

                </td>
                
                <td>
                    {% if work["So What"] %}
                    <p>
                    {% assign n_sowhat = work["So What"] | size | minus: 1 %}
                    {% for i in (0..n_sowhat) %}
                        - {{ work["So What"][i] }}
                        {% if i < n_sowhat %}
                            <br/><br/>
                        {% endif %}
                    {% endfor %}</p>
                    {% endif %}
                </td>
            </tr>

            </tbody>
            </table>
        {% endfor %}
    {% endfor %}

</div>